In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import zipfile

### Load the osha chemical exposure monitoring dataset

In [6]:
import zipfile
with zipfile.ZipFile('data/osha/osha_monitoring_1984_2018.zip','r') as zfile:
    zfile.extractall('data/osha')
osha = pd.read_csv('data/osha/osha_monitoring_1984_2018.csv')

/home/jminucci/anaconda3/envs/occupation/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1,8,12,13,17,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### How many different chemicals have been sampled by osha?

In [13]:
osha.imis_substance_code.describe()

count     2463713
unique       1161
top          1591
freq       173741
Name: imis_substance_code, dtype: object

In [20]:
osha.groupby(['imis_substance_code']).size().reset_index(name='counts').sort_values('counts', ascending=False)

     imis_substance_code  counts
291                 1591  173741
130                 0731  104012
27                  0230  102214
116                 0685  101410
42                  0360  100913
...                  ...     ...
535                 8895       1
1115                T207       1
179                 0929       1
528                 8270       1
983                 P452       1

[1161 rows x 2 columns]